page-page2-sub01 {
    ion-list {
        .section-title { 
            min-height: 3rem;
            font-size: 1.5rem; font-weight: 500;
            background-color: #5fa5f0; color: #fff;
            ion-label { margin: 0 !important; }
        }
        .numbering { 
            overflow: hidden;
            display: block; width: 20px; height: 20px;
            border-radius: 10px;
            font-size: 1.2rem; text-align: center;
            background-color: #4678e1; color: #fff;
        }
        .summary-title {
            margin-bottom: 0.8rem;
            font-size: 1.5rem; font-weight: 500;
            color: #3c3c3c;
        }
        .summary-text {
            position: relative;
            padding: 0 0 0 1.5rem;
            color: #707070;
        }
        .summary-text:before {
            content: "";
            position: absolute; left: 0; top: 0.8rem;
            display: block; width: 4px; height: 4px;
            border-radius: 4px; background: #4678e1;
        }
    }
    ion-card {
        margin: 0 !important; padding-top: 2rem; width: 100% !important;
        border: 0;
        box-shadow: none !important;
        .thumbnail {
            padding: 0 2rem;
        }
        ion-card-content {
            margin-bottom: 1.2rem;
            padding: 0.8rem 2rem !important;
            ion-card-title { font-size: 1.2em; font-weight: 500; }
            .ion-card-text { color: #505050; }
        }
    }
}
