page-page2 {
    .fixed-content,
    .scroll-content { margin-top: 56px !important; }//toolbar 높이에 맞추어서 변수처리 해야하는데...
    ion-list { 
        padding: 1.5rem 0;
        .item:first-child { border-top: 0 !important; }

        .item { 
            padding: 0 5%;
        }
        ion-label {
            position: relative;
            margin: 0 !important;
            padding: 1.5rem 2rem 1rem 6.8rem;
            font-size: 1.5rem;
            .numbering { 
                position: absolute; left: 0; top: 0; bottom: 0;
                display: inline-block; width: 4.5rem;
                line-height: 5.3rem; font-weight: 200;
                text-align: right; font-size: 3rem; color: #9fa5b0;
            }
            .title-ko { display: block; line-height: 1rem; }
            .title-eng { line-height: 1rem; font-size: 1.1rem; font-weight: 300; color: #a4a4a4; }
        }
    }
}
